<div class="heart-container">
    <svg viewBox="0 0 32 29.6" class="heart-svg">
        <defs>
            <clipPath id="clip-path">
                <path d="M23.6,0c-3.4,0-6.4,1.8-8.1,4.5C13.8,1.8,10.8,0,7.4,0C3.3,0,0,3.3,0,7.4
            c0,3.4,1.7,6.4,4.3,8.2L15.5,29.6L26.7,15.6c2.6-1.8,4.3-4.8,4.3-8.2C32,3.3,28.7,0,23.6,0z" />
            </clipPath>
        </defs>
        <rect x="0" y="0" width="100%" [attr.height]="rosaPercent + azulPercent + '%'" fill="lightblue"
            clip-path="url(#clip-path)" />
        <rect x="0" y="0" width="100%" [attr.height]="rosaPercent + '%'" fill="pink" clip-path="url(#clip-path)" />
        <path d="M23.6,0c-3.4,0-6.4,1.8-8.1,4.5C13.8,1.8,10.8,0,7.4,0C3.3,0,0,3.3,0,7.4
        c0,3.4,1.7,6.4,4.3,8.2L15.5,29.6L26.7,15.6c2.6-1.8,4.3-4.8,4.3-8.2C32,3.3,28.7,0,23.6,0z" fill="none"
            stroke="black" />
    </svg>
</div>