<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="card p-4" style="width: 100%; max-width: 400px;">
        <h1 class="text-center mb-4">Criar Conta</h1>
        <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
            <div class="form-group">
                <label for="username">Nome de Usuário</label>
                <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password"
                    required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-3 w-100">Cadastrar</button>
        </form>
    </div>
</div>