  .hourglass {
    position: relative;
    width: 100px;
    height: 200px;
    margin: 20px auto;
    border: 2px solid #000;
    border-radius: 50% 50% 0 0;
    overflow: hidden;
  }
  
  .token-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: height 0.5s;
  }
  
  .pink-bar {
    background: pink;
    height: 0;
  }
  
  .blue-bar {
    background: lightblue;
    height: 0;
  }
  
  .pink-text {
    color: pink;
  }
  
  .blue-text {
    color: lightblue;
  }

  body {
    font-family: Arial, sans-serif;
    background-image: url("assets/app_background.webp"); /* Adicione o URL da sua imagem de plano de fundo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    max-width: 400px;
    width: 100%;
  }
  
  .card {
    background: rgba(255, 255, 255, 0.9); /* Fundo branco com opacidade */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-control {
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
  }